.input {
  width: 80%;
  margin: 0.5rem 0;
  padding: 10px 20px;
}

.input input, .input textarea {
  outline: none;
  border: 1px solid whitesmoke;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  display: block;
  border-radius: 3px;
  width: 100%;
  resize: none;
  /* appearance: none; */
  box-sizing: border-box;
  color: black;
}

.input input:focus, .input textarea:focus {
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
}