.main-header {
  width: 100%;
  height: 3.5rem;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(109, 108, 108, 0.2);
}

.main-header__nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
}

.main-header__nav-items {
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.main-header__nav-item {
  margin: 0 0.5rem;
}

.main-header__nav-item a {
  display: block;
  padding: 0.4rem 0.5rem;
  text-decoration: none;
  color: darkslategray;
}

.main-header__nav-item a:hover, .main-header__nav-item a:active, .main-header__nav-item a.active {
  background: blueviolet;
  border-radius: 5px;
  color: white;
}

.main-header__nav-item button {
  font: inherit;
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0.25rem 0.5rem;
  color: darkslategray;
}

.main-header__nav-item button:hover, .main-header__nav-item button:active {
  background: red;
  border-radius: 5px;
  padding: 0.4rem 0.5rem;
  color: white;
}

.main-header__nav-item button:focus {
  outline: none;
}