.button {
  font: inherit;
  border: none;
  background: whitesmoke;
  cursor: pointer;
  border-radius: 5px;
  padding: 7px 10px;
  margin:10px 20px;
}

.button:focus {
  outline: none;
}

.button:hover, .button:active {
  background: green;
  color: white;
}