.product-item {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(109, 108, 108, 0.2);
  height: 12.5rem;
  margin: 1rem 0;
  position: relative;
  background: white;
  border-radius: 5px;
}

.product-item__image {
  width: 35%;
  height: 100%;
  background-position: center;
  background-size: cover;
  margin-right: 5%;
}

.product-item__content {
  width: 60%;
}

.product-item__content h1 {
  font-size: 1.25rem;
  color: #6200ff;
  margin: 0.5rem 0;
}

.product-item__content h2 {
  font-size: 1rem;
  color: #292929;
  margin: 0;
}

.product-item__controls {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  text-align: right;
}

.product-item__controls button, .product-item__controls a {
  text-decoration: none;
  cursor: pointer;
  font: inherit;
  border: none;
  background: transparent;
  color: #6200ff;
  padding: 0;
  margin: 0 0.5rem;
}

.product-item__controls button:hover, .product-item__controls button:active, .product-item__controls a:hover, .product-item__controls a:active {
  color: #320083;
}