.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.1s ease-in;
}

.backdrop.show {
  z-index: 10;
  opacity: 1;
}
