.edit-product__form {
  width: 90%;
  margin: auto;
  box-shadow: 0 2px 4px 0 rgba(109, 108, 108, 0.2);
  justify-content: center;
  border-radius: 5px;
  background: white;
}

@media (min-width: 768px) {
  .edit-product__form {
    width: 40rem;
  }
}