.product-page {
    text-align: center;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.26);
    background: white;
    border-radius: 5px;
    padding: 10px;
    margin:10px;
}

.product-page__image {
    width: 25rem;
    height: 25rem;
    background-position: center;
    background-size: cover;
    margin: auto;
}